@model manytomanyloadingtest.Models.Conversation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Conversation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGroupChat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGroupChat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserConversations)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <td>
                        <p>Username</p>
                    </td>
                    <td>
                        <p>Is user admin?</p>
                    </td>
                    <td>
                        <p>Link to user</p>
                    </td>
                    <td>
                        <p>Delete UserConversation</p>
                    </td>
                </tr>
                @foreach (var item in Model.UserConversations)
                {
                    <tr>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.User.Username)</p>
                        </td>
                        <td>
                            <p>User is @(item.IsAdmin ? " " : "not ") admin of this chat</p>
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId">goto user</a>
                        </td>
                        <td>
                            <a asp-controller="UserConversations" asp-action="Delete" asp-route-id="@item.UserConversationId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ConversationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
