@model manytomanyloadingtest.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserConversations)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <td>
                        <p>Chat Name</p>
                    </td>
                    <td>
                        <p>Is user admin?</p>
                    </td>
                    <td>
                        <p>Is chat a group chat?</p>
                    </td>
                    <td>
                        <p>Link to conversation</p>
                    </td>
                </tr>
                @foreach (var item in Model.UserConversations)
                {
                    <tr>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.Conversation.GroupName)</p>
                        </td>
                        <td>
                            <p>User is @(item.IsAdmin ? " " : "not ") admin of this chat</p>
                        </td>
                        <td>
                            <p>Chat is @(item.Conversation.IsGroupChat ? " " : "not ") a group chat</p>
                        </td>
                        <td>
                            <a asp-controller="Conversations" asp-action="Details" asp-route-id="@item.ConversationId">goto conversation</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
